---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="About">
  <main transition:animate="slide">
    <div class="space-y-4">
      <h1 class="text-[2.9rem] font-bold text-[#192831] dark:text-[#717175]">
        Tools. Apps. Gear.
      </h1>
      <div class="space-y-8">
        <div class="space-y-1.5">
          <p class="text-base text-[#192831] dark:text-[#8F999E]">
            I often get messages asking about specific pieces of <span
              class="font-semibold dark:font-normal text-black dark:text-white"
              >software or hardware</span
            > I use. This not a static page, it's a <span
              class="font-semibold dark:font-normal text-black dark:text-white"
              >living document</span
            > with everything that I'm using nowadays.
          </p>
        </div>
      </div>
    </div>
  </main>
</Layout>
